# Virtual environment
venv/
ENV/
env/
.venv/

# Django stuff
*.log
*.pot
*.pyc
__pycache__/
db.sqlite3

# Media and static files
/media/
staticfiles/

# VSCode / PyCharm / IDE configs
.vscode/
.idea/

# OS-specific
.DS_Store
Thumbs.db

# Python packaging
*.egg-info/
*.egg
dist/
build/
